body,html {
	background: #eee;
  width:100%;
  height:100%;
}
body{
  font-family:'fira',sans-serif;
  font-size: 18px;
  line-height: 1.42;
  color: #646464;
}
body{
  font-family:'FontAwesome';
  font-size: 18px;
  line-height: 1.42;
  color: #646464;
}
/*.main {
	margin: 0 auto;
  min-width: 960px;
  position: relative;
  min-height: 100%;
  overflow: hidden;
}*/
.wrapper{
  min-height: 100%;
  overflow: hidden;
  position: relative;
  min-width: 1200px;
  min-height: 700px;
}
.wrapper:after{
content: "";
height: 54px;
display: block;
}
.golov{
	background-color:#ffffff;
	height: 80px;
	/*position: absolute;
	top: 0;*/
	width: 100%;
  top:0;
  /*margin-bottom: 50px;*/
}
.header-left, .header-right{
  float: left;
  width: 50%;
}

.header-right{
  text-align: right;
  padding-top: 10px;
}
.IS{
  border:2px solid #eee;
  border-radius:50%;
  overflow: hidden;
  /*position: absolute;
  left:50px;
  top:5px; */
}
.user-photo{
  display: inline-block;
   vertical-align: middle;
   padding-top: 0px;
   padding-left: 120px;
}
.user-name{
   font-size: 20px;
  font-family: "FiraSans";
  color:#747474;
  line-height: 1.444;
   display: inline-block;
   vertical-align: middle;
   margin-left:15px; 
  /*position: absolute;
  left: 120px;
  top: 10px;*/ 
}
.contacts{
  font-size: 20px;
  font-weight: 600;
  font-family: "FiraSans";
  color:#2ebde7;
  line-height: 1.444;
  text-align: left;
  /*text-decoration: none;*/
  border-bottom: 3px,dashed blue; 
  display: inline-block;
  padding-top: 6px;
  padding-right: 123px;
}
.contacts:hover{
color: #e85f61;
}
.sidebar{
  line-height: 1.444;
  float: left;
  width: 192px;
  display: inline-block;
  padding-top: 5px;
  padding-left: 89px;
}
.about-left,.about-right{
  float: left;
}
.about-left{
  width: 313px;
  padding-left:30px;
}
.about-photo{
float: left;
display: inline-block;
padding-top: 14px;
padding-left: 89px;
}
.I{
  border-radius:50%;
  width: 220px;
  height: 220px;
  max-width:100%; 
  max-height:100%;
  border: 5px solid #fff;
   /*position: absolute;
  left: 400px;
    top: 150px;*/
}
.menu{
  font-size: 20px;
  font-family: "FiraSans";
  color: color: rgb( 100, 100, 100 );
  line-height: 9px;
  }
 .menu_3{
  width: 214px;
 }

/*.none:hover{
  color: #2E8B57;
  text-decoration: none;
}*/

.link{
   color: #414141;
  text-decoration: none;
  border-right: 6px  solid transparent;
   display: block;
  text-align: right;
  padding: 10px 25px 10px 0px;
}
.link:hover{
  color: #2fc3df; 
}
.link_border,.link{
  border-color:  #2fc2e4;
  font-weight: 600;
}
/*.link:visited{
  color: #8B4513; */
}
.link:activ{
  color: #9932CC;
}

.opit{
   color: #414141;
  text-decoration: none;
  border-right: 6px solid transparent;
   display: inline-block;
  text-align: right;
  padding: 10px 34px 10px 0px;
}
.opit:hover{
  color: #2fc3df; 
}
.opit_border,.opit{
  border-color:  #2fc2e4;
  font-weight: 600;
}
/*.opit:visited{
  color: #8B4513; */
}
.opit:activ{
  color: #9932CC;
}

.me{
   color: #414141;
  text-decoration: none;
  border-right: 6px  solid transparent;
  display: block;
  text-align: right;
  padding: 10px 25px 10px 0px;
}
.me:hover{
  color: #2fc3df; 
}
.me_border,.me{
  border-color: #2fc2e4;
  font-weight: 600;
}
/*.me:visited{
  color: #8B4513; }*/

.me:activ{
  color: #9932CC;
}
.meny-icon,.meny-titile{
  vertical-align: middle;
  display: inline-block;
  padding: -1px 0px 0px 0px;
}
/*.meny-titile:after{
  content: '\2603';
}*/
.about-right{
  width: 360px; 
  text-align: left;
padding-left: 60px;
padding-top: 0px;
}
.aboutme {
  font-size: 22px;
  font-family: "FiraSans";
  color: rgb( 100, 100, 100 );
  line-height: 1.444;
  text-align: left;
  height: 420px;
  width: 400px;
  overflow: auto;
  margin-bottom: 40px;
}
 .content-title{
	color: #2F4F4F;
	/*font-family: 'Marck Script', cursive; height:32px;/*Шрифты почему-то не работают.(Брал их в гугл-фонтс)*/
  font-family: 'Marck Script', cursive; 
  src: url('Marck Script.woff2') format('woff2'), 
      /* url('webfont.ttf')  format('truetype'), Только если нужна поддержка старых Android, иначе закомментировать */ 
       url('Marck Script.woff') format('woff'); 
  font-weight: normal; 
  font-style: normal; 
  }
.scachat{
text-align: right;
 padding-top: 350px;
 padding-right:142px;
 /*position: absolute;
 left: 1200px;
 top: 900px;*/
}
.button{
	border: 2px;
	border-style:solid;
	color: #e85f61;
	border-radius:40px;
  padding: 7px 15px; 
  font-weight: 12px;
  text-decoration: none;
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;  
}
.button__text,.button__icon{
	display: inline-block;
  vertical-align: middle;
}
.button:hover{
  background:  #e85f61;
  color: #ffffff;
  border: #e85f61 2px;
  text-decoration-color:#ffffff; 
}



.Rectangle{
	background-color:#414141;
	height: 55px;
	/*position: relative;
  min-width:960px;*/
  position: absolute;
  min-width:1200px;
  bottom: 0;
  width: 100%;
	
}

.footer-left,.footer-right{
  float: left;
  width: 50%;
}

.footer-left{
  padding-top: 5px;
}
.exit{
font-size: 14px;
font-weight: 300px;
text-align: left;
margin-bottom: 10px;
margin-left: 120px;
/*position: absolute;
bottom: -10px;
left: 20px;*/
}

.footer-right{
  text-align: right;
  margin-left: 461px;
  margin-top: -63px;
  
}
.social-items{
  display: inline-block;
  vertical-align: middle;
  margin-left:5px; 
}
.fb{
  width: 30px;
  height: 30px;
  display: block;
}
.vk{
  width: 30px;
  height: 30px;
  display: block;
 }
 .tw{
   width: 30px;
  height: 30px;
  display: block;
}







.wrapper_1{
  min-height: 100%;
  overflow: hidden;
  position: relative;
  min-width: 1200px;
  min-height: 754px;
}

.opitme-left,.opitme-right{
  float: left;
}
.opitme-left{
  width: 331px;
  padding-left:10px;
}
.opitme {
  font-size: 22px;
  font-family: "FiraSans";
  color: rgb( 100, 100, 100 );
  line-height: 1.444;
  text-align: left;
  height: 350px;
  width: 350px;
  overflow: auto;
  margin-bottom: 0px

}
.opitme-photo{
float: left;
overflow: hidden;
margin-top: 75px;
margin-left: 67px;
}

.work{
 /* width: 230px;
  height: 220px;*/
  max-width:100%; 
  max-height:100%;
  border: 5px solid #fff;
  display: block;
  border-radius:60px; 
}
.content-title_1{
  color: #2F4F4F;
  /*font-family: 'Marck Script', cursive; height:32px;/*Шрифты почему-то не работают.(Брал их в гугл-фонтс)*/
  font-family: 'Marck Script', cursive; 
  src: url('Marck Script.woff2') format('woff2'), 
      /* url('webfont.ttf')  format('truetype'), Только если нужна поддержка старых Android, иначе закомментировать */ 
       url('Marck Script.woff') format('woff'); 
  font-weight: normal; 
  font-style: normal; 
  float: left;
  text-align: left;
  margin-top: -294px;
  margin-left: 70px;
  }


.opitme-right{
  width: 455px;
  text-align:center; 
  float: left;
  margin-left: -15px;
  margin-top: 60px;
}


/*.opitme_1 {
  font-size: 22px;
  font-family: "FiraSans";
  color: rgb( 100, 100, 100 );
  line-height: 1.444;
  text-align: left;
  height: 300px;
  width: 400px;
  overflow: auto;
  margin-bottom: 0px;}*/
   
          


  .opit_list{               
    text-align: right;
  }
  .opit_item{
    border-radius:10px;
    background-color:#ffffff;
    width: 380px; 
    height: 110px;
    box-sizing: border-box;
    padding: 20px; 
    display: inline-block;
    text-align: left;
    position: relative;
    margin-bottom: 25px;
  }
  .opit_item:hover .opit_item_year:before  {/*почему не работает?*/
   border-color:#95e1f3;
  }
  .opit_item:hover  {/*почему не работает?*/
    background: #33c2e4;
  }
  .opit_item:after,.opit_item:before{
    content: "";
    display: block;
    width: 1px;
    background: #30c2e4;
    position: absolute;
    right: 100%;
    margin-right:24px; 
  }
  .opit_item:after{
top:50%;
bottom:-23px;
  }
  .opit_item:before{
top:-23px;
bottom:50%;
  }
  .opit_item:first-child:before,.opit_item:last-child:after{
    display: none;
  }

  .opit_title{
    font-size: 21px;
    color: #5a5a5a;
    margin-bottom:-2px;
  }
  .opit_title:hover{ 
    color: #BDB76B;
  }
  .opit_occupashion,.opit_time{
    font-weight: 300;
    color:#727272;
    margin-bottom:2px;
  }
  .opit_occupashion:hover,.opit_time{
    color: #BDB76B; 
  }
  .opit_time{
     margin-bottom:0;
  }
  .opit_time:hover{
   color: #BDB76B; 
  }
  .opit_item_year{
position: absolute;
top:50%;
margin-top:-14px; 
right:100%;
margin-right:40px; 
color: #727272;
font-size: 15px;
  }
  .opit_item_year:hover {
    font-weight: 600;
  }
.opit_item_year:before {
  content:"";
  display:block;
  width: 10px;
  height: 10px;
  border-radius: 50%; 
  background:#30c2e4; 
  position: absolute;
  right: -25px;
  top:50%; 
  margin-top: -10px;
  border: 5px solid #eee;
}
/*.opit_item_year:before{
 border: 5px solid #95e1f3;
}*/
.wrapper_2{
  min-height: 100%;
  overflow: hidden;
  position: relative;
  min-width: 1200px;
  min-height: 817px;
}

/*.portfolio_22{
  width: 220px;
  text-align:center; 
  /*float: left;
  margin-left:550px;
  margin-top: -200px;}*/

.portfolio_list{
  float: left;
  margin-left: -270px;
  margin-top: 80px;
  /*font-size: 0;*/
}
/*.portfolio_list{
  font-size: 14px;     
}    для родителя*/
.portfolio_item{
  border-radius: 10px;
  background-color:rgb(255,255,255);
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
  width: 220px;
  overflow: hidden;
  float: left;
  margin-left: 30px;
  margin-bottom: 20px;
 
  /*display: inline-block;
  vertical-align: top;*/
}
.portfolio_desc{
  padding: 20px;
}
.portfolio_link{
  display: block; 
  text-decoration: none;
}
.portfolio_link:hover .portfolio_title {
  color: #e85f61;

}
.portfolio_pic-elem{
  display: block;
  max-width: 100%
}
.portfolio_title{
  font-size: 21px;
  color: #414141;
  margin-bottom: 5px;
}
.portfolio_work-desc{
  font-size: 14px;
   color: #414141;
   font-weight: 300;
   margin-bottom: 15px;
}
.portfolio_type-icon, .portfolio_type-title{
display: inline-block;
vertical-align: middle;
}
.portfolio_type{
  color: #aeaeae;
  font-size: 14px;
}
.portfolio_type-title{
  max-width: 170px;
  margin-left:5px; 
}
.portfolio_type-icon{
  font-size: 18px;
}
/*.portfolio_1 {
  font-size: 22px;
  font-family: "FiraSans";
  color: rgb( 100, 100, 100 );
  line-height: 1.444;
  text-align: left;
  height: 300px;
  width: 400px;
  overflow: auto;
  margin-bottom: 0px;
}*/
/*.content-title_2{
  float: left;
  margin-left:100px;
  margin-top: 10px;
}*/






.content-title_2{
  color: #2F4F4F;
  /*font-family: 'Marck Script', cursive; height:32px;/*Шрифты почему-то не работают.(Брал их в гугл-фонтс)*/
  font-family: 'Marck Script', cursive; 
  src: url('Marck Script.woff2') format('woff2'), 
      /* url('webfont.ttf')  format('truetype'), Только если нужна поддержка старых Android, иначе закомментировать */ 
       url('Marck Script.woff') format('woff'); 
  font-weight: normal; 
  font-style: normal; 
  float: left;
  margin-top: 9px;
margin-left: 81px;
font-size: 32px;
  text-align: left;
  height: 30px;
  width: 200px;
  
  }


















